@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@import "./scrollbar.scss";
@font-face {
    font-family: 'Coustard';
    src: url('../assets/font/Coustard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



$txt: #222432;
$centerWidth: 800px;
$headerBgColor: #FDF9F8;
$borderWidth: 4px;
$borderColor: #F9F2F0;

.links {
    display: inline-flex;
    gap: 9px;
    align-items: center;
    color: #fff;
    text-decoration: none;
    &:hover{ opacity: .9;}
}

.btn {
    cursor: pointer;
    border: none;
    color: #fff;
    background: $txt;
    border-radius: 40px;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 1em;
    &:hover { background: #2a2d42;}
    &:disabled { 
        background: #e6e7eb;
        cursor: not-allowed;
    }
}

body {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    margin: 0;

    
}

button {
    font-family: "Gabarito", sans-serif;
}

main {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
nav {
    display: flex;
    justify-content: space-between;
    background: $txt;
    color: #fff;
    align-items: center;
    font-size: .8em;
    padding: 10px 20px;
    > aside {
        display: flex;
        align-items: center;
        gap: 25px;
    }
}

.account {
    font-size: .85em;
    display: flex;
    gap: 10px;
    align-items: center;
    .user {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
        #fullName { opacity: .5;}
    }
    #avatar {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4em;
        border-radius: 40px;
        background: #353850;
    }
}

h1{
    font-family: 'Coustard', sans-serif;
    font-weight: 900;
    margin: 0;
    display: flex;
    align-items: baseline;
    color: $txt;
    font-size: 2em;
    gap: .3ch;
    span {
        line-height: 1.6ch;
    }
    .nickname {
        background: url("../assets/svg/pinkclip.svg");
        background-size:  100% 100%;
        padding: 0 9px;
        position: relative;
        &:after{
            content:"";
            background: url("../assets/illustrations/spark-13-15.png");
            background-size:  100% 100%;
            display: block;
            width: 13px;
            height: 15px;
            position: absolute;
            top: -8px;
            right: -11px;
        }
    }
}

header {
    background: $headerBgColor;
    padding: 110px 0;
    h1 { 
        width: $centerWidth;
        margin: 0 auto;
    }
}
#eventList {
    width: $centerWidth;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border: $borderWidth solid $borderColor;
    border-radius: 35px;
    box-shadow:
        0 5px 8px rgba(204,192,189,.3),
        0 30px 70px rgba(204,192,189,.3);
    transform: translateY(-70px);
    min-height: 300px;
    overflow-y: scroll;
    max-height: calc(100vh - 450px);
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include custom-scrollbar;
}

.loading {
    padding-top: 100px;
}

.Year {
    width: 100%;
    h3,h4 {
        margin: 0;
        padding: 2px 30px;
        font-size: .9em;
        position: sticky;
        top:0;
        transform: translateY(-1px);
        background: #fff;
        z-index: 2;
        // border-bottom: 1px solid $borderColor;
    }
    h3 {
        
        border-bottom: 1px solid $borderColor;
    }
    h4 {
        border-top: 1px solid $borderColor;
        top: 18px;
        z-index: 1;
    }
}

.Event {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 10px;
    border-top: 1px solid $borderColor;
    cursor: pointer;
    &.selected label {
        &:after{
            border-color: #dddddd00;
        }
        &:before{
            opacity: 1;
        }
    }
    
    label {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &:before,
        &:after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
        }
        &:before {
            position: absolute;
            left: calc(50% - 15px);
            top: calc(50% - 15px);
            background: url("../assets/svg/greencheck.svg");
            opacity: 0;
        }
        &:after {
            border: 1px solid #ddddddc2;
            border-radius: 8px;
            box-sizing: border-box;
        }
        input { 
            width: 30px;
            height: 30px;
            position: absolute;
            left: calc(50% - 19px);
            top: calc(50% - 19px);
            opacity: 0;
        }
    }

    time {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-right: 1px solid $borderColor;
        gap: 2px;
        flex:1;
        span{
            &:nth-of-type(1){ font-size: .8em; }
            &:nth-of-type(2){ 
                font-size: 2.5em;
                line-height: 1.3ch;
                letter-spacing: -.06ch;
                font-weight: 100;
             }
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        font-size: .8em;
        flex: 7;
        box-sizing: border-box;
        padding-left: 50px;
        p,h5 { margin: 0 }
        h5 { 
            font-size: 1.5em;
        }
        .meta {
            display: flex;
            flex-direction: column;
            gap: 0px;
            
        }
        .location {
            display: flex;
            gap: 5px;
            &:before {
                background-image: url("../assets/svg/pin.svg");
            }
        }
        .startAndEndTime,
        .location {
            display: flex;
            align-items: center;
            gap: 5px;
            &:before {
                content:"";
                display: block;
                width: 12px;
                height: 12px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100% auto;
            }
        }
        .startAndEndTime:before {
            background-image: url("../assets/svg/time.svg");
        }
    }
}



.wobblyBtn {
    background: url("../assets/svg/orange-clip.svg");
    line-height: 1.6ch;
    background-size: 100% 100%;
    color: $txt;
    text-decoration: none;
    display: inline-flex;
    gap: 9px;
    align-items: center;
    padding: 4px 14px;
    font-weight: bold;
    cursor: pointer;
    &:hover { background-image: url("../assets/svg/wobblycliphover.svg") }
}

footer {
    width: $centerWidth;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: flex-end;
}