@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");
@font-face {
  font-family: "Coustard";
  src: url("../assets/font/Coustard-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.links {
  display: inline-flex;
  gap: 9px;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.links:hover {
  opacity: 0.9;
}

.btn {
  cursor: pointer;
  border: none;
  color: #fff;
  background: #222432;
  border-radius: 40px;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1em;
}
.btn:hover {
  background: #2a2d42;
}
.btn:disabled {
  background: #e6e7eb;
  cursor: not-allowed;
}

body {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
  margin: 0;
}

button {
  font-family: "Gabarito", sans-serif;
}

main {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  background: #222432;
  color: #fff;
  align-items: center;
  font-size: 0.8em;
  padding: 10px 20px;
}
nav > aside {
  display: flex;
  align-items: center;
  gap: 25px;
}

.account {
  font-size: 0.85em;
  display: flex;
  gap: 10px;
  align-items: center;
}
.account .user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}
.account .user #fullName {
  opacity: 0.5;
}
.account #avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  border-radius: 40px;
  background: #353850;
}

h1 {
  font-family: "Coustard", sans-serif;
  font-weight: 900;
  margin: 0;
  display: flex;
  align-items: baseline;
  color: #222432;
  font-size: 2em;
  gap: 0.3ch;
}
h1 span {
  line-height: 1.6ch;
}
h1 .nickname {
  background: url("../assets/svg/pinkclip.svg");
  background-size: 100% 100%;
  padding: 0 9px;
  position: relative;
}
h1 .nickname:after {
  content: "";
  background: url("../assets/illustrations/spark-13-15.png");
  background-size: 100% 100%;
  display: block;
  width: 13px;
  height: 15px;
  position: absolute;
  top: -8px;
  right: -11px;
}

header {
  background: #FDF9F8;
  padding: 110px 0;
}
header h1 {
  width: 800px;
  margin: 0 auto;
}

#eventList {
  width: 800px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  border: 4px solid #F9F2F0;
  border-radius: 35px;
  box-shadow: 0 5px 8px rgba(204, 192, 189, 0.3), 0 30px 70px rgba(204, 192, 189, 0.3);
  transform: translateY(-70px);
  min-height: 300px;
  overflow-y: scroll;
  max-height: calc(100vh - 450px);
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* WebKit browsers (Chrome, Edge, Safari) */
  /* For Firefox */
  scrollbar-width: thin; /* Options: auto, thin, none */
  scrollbar-color: #888 #f1f1f1; /* Thumb and track colors */
}
#eventList::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}
#eventList::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track */
  border-radius: 6px; /* Rounded corners */
}
#eventList::-webkit-scrollbar-thumb {
  background: #888; /* Scroll handle color */
  border-radius: 6px; /* Rounded corners */
}
#eventList::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scroll handle hover effect */
}

.loading {
  padding-top: 100px;
}

.Year {
  width: 100%;
}
.Year h3, .Year h4 {
  margin: 0;
  padding: 2px 30px;
  font-size: 0.9em;
  position: sticky;
  top: 0;
  transform: translateY(-1px);
  background: #fff;
  z-index: 2;
}
.Year h3 {
  border-bottom: 1px solid #F9F2F0;
}
.Year h4 {
  border-top: 1px solid #F9F2F0;
  top: 18px;
  z-index: 1;
}

.Event {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 10px;
  border-top: 1px solid #F9F2F0;
  cursor: pointer;
}
.Event.selected label:after {
  border-color: rgba(221, 221, 221, 0);
}
.Event.selected label:before {
  opacity: 1;
}
.Event label {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.Event label:before, .Event label:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.Event label:before {
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  background: url("../assets/svg/greencheck.svg");
  opacity: 0;
}
.Event label:after {
  border: 1px solid rgba(221, 221, 221, 0.7607843137);
  border-radius: 8px;
  box-sizing: border-box;
}
.Event label input {
  width: 30px;
  height: 30px;
  position: absolute;
  left: calc(50% - 19px);
  top: calc(50% - 19px);
  opacity: 0;
  z-index: -1;
}
.Event time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #F9F2F0;
  gap: 2px;
  flex: 1;
}
.Event time span:nth-of-type(1) {
  font-size: 0.8em;
}
.Event time span:nth-of-type(2) {
  font-size: 2.5em;
  line-height: 1.3ch;
  letter-spacing: -0.06ch;
  font-weight: 100;
}
.Event .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 0.8em;
  flex: 7;
  box-sizing: border-box;
  padding-left: 50px;
}
.Event .info p, .Event .info h5 {
  margin: 0;
}
.Event .info h5 {
  font-size: 1.5em;
}
.Event .info .meta {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.Event .info .location {
  display: flex;
  gap: 5px;
}
.Event .info .location:before {
  background-image: url("../assets/svg/pin.svg");
}
.Event .info .startAndEndTime,
.Event .info .location {
  display: flex;
  align-items: center;
  gap: 5px;
}
.Event .info .startAndEndTime:before,
.Event .info .location:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.Event .info .startAndEndTime:before {
  background-image: url("../assets/svg/time.svg");
}

.wobblyBtn {
  background: url("../assets/svg/orange-clip.svg");
  line-height: 1.6ch;
  background-size: 100% 100%;
  color: #222432;
  text-decoration: none;
  display: inline-flex;
  gap: 9px;
  align-items: center;
  padding: 4px 14px;
  font-weight: bold;
  cursor: pointer;
}
.wobblyBtn:hover {
  background-image: url("../assets/svg/wobblycliphover.svg");
}

footer {
  width: 800px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: flex-end;
}/*# sourceMappingURL=styles.css.map */